
body {
    background-color: #f8f9fa; 
    color: #212529;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start;
    height: 100%;
}

h1 {
    text-align: center;
    color: #004a99;
    margin-bottom: 40px;
    font-size: 2.5rem;
}

.card-grupo {
    background-color: #ffffff;
    border: 1px solid #dee2e6; 
    border-radius: 12px;       
    padding: 25px;             
    margin-bottom: 20px;      
    width: 100%;
    max-width: 650px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); 
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    color: #d9534f;
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #f1f3f5;
    margin: 8px 0;
    padding: 10px;
    border-radius: 6px;
    color: #495057; 
    border-left: 4px solid #004a99;
}

details {
    margin-top: 15px;
    padding: 15px;
    background-color: #e7f5ff;
    border-radius: 8px;
}

summary {
    font-weight: bold;
    cursor: pointer;
    color: #004a99;
}

summary:hover {
    text-decoration: underline;
}

html {
            height: 100%;
            margin: 0;
        }
        
.bg-copa {
            background-image: url('img/FIFA-World-Cup-26.jpg');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }

.card {
            backdrop-filter: blur(5px);
            background-color: rgba(255, 255, 255, 0.9);
            border: none;
            box-shadow: 0 10px 30px rgba(0,0,0,0.5);
        }

 .card-img-top {
            height: 300px; 
            object-fit: cover; 
            object-position: top; 
}